{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/typescript"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"extensions": [".ts"],
				"root": ["."],
				"alias": {
					"@config": "./src/config",
					"@controller": "./src/controller",
					"@models": "./src/models",
					"@routes": "./src/routes",
					"@utils": "./src/utils",
					"@helper": "./src/utils/helper",
					"@middleware": "./src/utils/middleware",
					"~": "./src"
				}
			}
		]
	],
	"comments": false,
	"ignore": ["./src/__tests__"]
}
